In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rashi\anaconda3\new folder\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rashi\anaconda3\new folder\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [3]:
driver = webdriver.Chrome(r"C:\Users\rashi\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# 1.  https://www.naukri.com/

In [40]:
url='https://www.naukri.com/'
driver.get(url)

In [41]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [42]:
search_job.send_keys('Data Analyst')

In [43]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc

In [44]:
search_loc.send_keys('Bangalore')

In [45]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [48]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="7ae075d6-9126-434d-ba98-d7156e2f6f38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="27d0725f-f25d-431b-b75f-8d66a9019e70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="08e38125-c4da-475c-a4a7-999568e0692c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="4af38ae5-ce0c-4db8-8b56-897e1591603d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="63a4721e-970c-478c-b878-cc84a65354f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="76a57e22-cbd7-4ba6-8370-ca58d6da41e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="81a15e78-6ee6-4942-bf43-30c8579515c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6884f09c-b817-479e-abd7-ce2f5ec5a1b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="20138b31-0774-4b54-b72b-76869d796cee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="a49a4b75-9145-4ddf-a067-72d50c023dee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="d4a62b06-7c22-463e-8a94-43795049da97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="06cd9429-e600-4a03-8fd9-d8d1308713e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="83623572-09c0-445e-a437-3ea3a8e83be4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="da5c1d9a-0f1b-4eae-9b06-146ac26ed88e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="b9491ca0-fba1-4360-83f7-c1d408a4197d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="2af7aafa-6522-44b4-8f3d-924bd8340a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="a5db24bc-83aa-42bd-817a-9c021016cabe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="e9620e9c-7dd5-4da7-bc3c-c0fd41780bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="c50c0c2a-fac8-4478-927b-7bd5597d73b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="afbbeb42-e1a2-4be9-9fcd-f4b29baaebdd")>]

In [49]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'data analyst',
 'RC HIA - Data Analyst - A2',
 'Data Analyst (Contractual)',
 'Procurement Data Analyst',
 'Data Analyst',
 'Hiring Consultant Data Analyst Contractual',
 'Data Analyst/ Data Consultant (Various Levels – Senior/ Mid/ Junior)',
 'Data Scientist / Data Analyst -Business Analyst',
 'Sr Data Analyst 1',
 'Senior Data Analyst']

In [50]:
loc_tags=driver.find_elements_by_xpath("//span[@title='Bangalore/Bengaluru']")
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="2ed1af92-8506-4701-b0f4-560926ef0cb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="59727060-9d2b-4aef-8fb7-1e6e9d461f65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="87a35765-5e48-470c-b4fb-ac925f1a2977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="44847175-eda3-419d-9cf7-e877e943b498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="52eb8c00-7256-4f9a-bcd2-4046d9e9835b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="da47c3be-6b9e-4cee-ba2d-e3719fb67d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="e3d01ac1-cc93-4910-9307-984340665046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="a9f66284-7a1f-4e5f-ae07-c75bfa8ca673")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="af8ff481-c093-4df3-8557-6e1032046140")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="5a5182e4-f4e0-49bd-83c8-724fda07d412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="9cab027e-f9af-4d46-b22e-a2030c041b0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="5d2237ae-0104-49c5-8d99-114fc9887a10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="a4d71766-b6b2-4e6c-9e58-fdf2f0469a03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="65884f45-4185-45e4-9034-b5575dbb33ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="e66cec0f-7291-4eda-b93d-7ef559060825")>]

In [51]:
loc_titles=[]
for i in loc_tags:
    loc_titles.append(i.text)
loc_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [52]:
df = pd.DataFrame({ 'loc_titles':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]})

In [53]:
df = ['Bangalore/Bengaluru']*20

In [55]:
df

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [56]:
name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6f771633-4e43-42f8-ab65-03688076be9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="2d9c75fa-5671-461d-a919-febd13ba095a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="7681d1b1-82cd-4a14-8100-18cd487aed1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="b732fc54-d356-4561-99d2-ae178fc712d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="dafdb193-d962-469e-b9fe-3f6efdf4ba4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="70d615eb-64f3-435b-8cf2-4fbb7b504643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="5d6216d3-2614-426a-acfd-cbc3a082b5f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="56e9334c-2749-470b-bee4-0faf7a24f294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6191f9e9-2220-406f-b754-3b84e48a1749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="9491f13e-6944-48ed-9e0f-b8db0a32ffff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="ebde39f5-643a-4fc1-902f-8f9828777f67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="e97286ee-532f-4df0-8db7-b9c9e0a99baf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="63885ecd-ee34-438b-92ba-8de1c752a4e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6a0ea2b5-7dcb-4084-8bdf-f3ee3369fe95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="71d7a08a-7fc9-4601-89cc-573c8a2158b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="c16f04a4-93f1-4df4-be8d-1e84c3700375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="4e71357c-2adf-47cb-9a40-a99d0797049f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="51d55f54-c083-4574-a400-48b4ef681adf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="e5a20061-9851-4b55-82cc-04241eef20d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="58432f30-f9d3-4c67-87ef-a32046c13254")>]

In [57]:
com_titles=[]
for i in name_tags:
    com_titles.append(i.text)
com_titles

['Opex Global Services',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'CGI Information Systems and Management Consultants',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Disha Consultants',
 'Pricewaterhouse Coopers Private Limited',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'IBM India Pvt. Limited',
 'Flipkart Internet Private Limited',
 'DVSUM INDIA PRIVATE LIMITED',
 'Inflexion Analytix Private Limited',
 'IHS Markit',
 'Eze Castle Integration Services (Formerly Alphaserve Technologies)']

In [58]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="ecb916ad-8f73-4eaf-aa77-dd9ccf255a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="f59d5bbb-14c3-466e-9fd8-74b3f6b735a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="92bb0d88-df25-434b-b2e8-9a39992a65e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="42fbd0b3-14a0-4fd4-9c76-26f901508b37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="cec1d497-c440-4edc-a635-ac52475d4b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="18d0e8b2-0c3e-4d27-b982-ebe94026e005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="d0f3674a-ecce-4479-8c35-68a107c18ea6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6465f387-78bb-4e23-a37f-880d4d0768fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="c3b08a41-affd-41bf-9c9f-31ed274bfe13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="c7454ea6-0447-4a59-af84-3f929642e63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="9d531f99-18a9-4d31-9668-898689795a23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="6f560fd3-51e6-4651-bf7d-22b54c79de31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="4b8f1164-37d0-4db1-ae60-00878e93bae1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="4aae09a2-da32-45ce-8fcc-c7630d3da40e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="5cc01f03-df27-4ba3-b4bf-61d2659c72ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="b2d92dc1-88a1-41ed-9e6e-c1c083a0f364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="7df2701d-237a-4d58-9dce-aeffa3b8da19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="9fab9918-e6ce-4d14-a0c4-ad723f29a366")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="73dd7773-7eb5-4f10-bca3-809ee6589954")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1a4e1538a92c3d0195b87a8b024dd5d", element="34ae99b1-e4ae-4100-9a90-2cff896fef39")>]

In [59]:
exp_titles=[]
for i in exp_tags:
    exp_titles.append(i.text)
exp_titles

['5-10 Yrs',
 '6-9 Yrs',
 '3-5 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '4-6 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '3-6 Yrs',
 '6-11 Yrs']

In [60]:
print(len(job_titles),len(df),len(com_titles),len(exp_titles))

20 20 20 20

In [61]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=df
jobs['company']=com_titles
jobs['experience']=exp_titles

In [62]:
jobs

,title,location,company,experience
0,Senior Data Analyst - Data Lineage,Bangalore/Bengaluru,Opex Global Services,5-10 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Bangalore/Bengaluru,Mind Circus Innovation,0-1 Yrs
4,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
5,Business/Data Analyst - SSE/LA,Bangalore/Bengaluru,CGI Information Systems and Management Consult...,2-5 Yrs
6,Business Data Analyst,Bangalore/Bengaluru,"dotSolved India Pvt., Ltd.",9-13 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs
10,data analyst,Bangalore/Bengaluru,Disha Consultants,2-4 Yrs
11,RC HIA - Data Analyst - A2,Bangalore/Bengaluru,Pricewaterhouse Coopers Private Limited,4-6 Yrs
12,Data Analyst (Contractual),Bangalore/Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
13,Procurement Data Analyst,Bangalore/Bengaluru,Schneider Electric,1-3 Yrs
14,Data Analyst,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
15,Hiring Consultant Data Analyst Contractual,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
16,Data Analyst/ Data Consultant (Various Levels ...,Bangalore/Bengaluru,DVSUM INDIA PRIVATE LIMITED,5-10 Yrs
17,Data Scientist / Data Analyst -Business Analyst,Bangalore/Bengaluru,Inflexion Analytix Private Limited,0-3 Yrs
18,Sr Data Analyst 1,Bangalore/Bengaluru,IHS Markit,3-6 Yrs
19,Senior Data Analyst,Bangalore/Bengaluru,Eze Castle Integration Services (Formerly Alph...,6-11 Yrs

# 2.  https://www.naukri.com/

In [165]:
driver = webdriver.Chrome('chromedriver.exe')

In [166]:
url='https://www.naukri.com/'
driver.get(url)

In [167]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [168]:
search_job.send_keys('Data scientist')

In [169]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc

In [170]:
search_loc.send_keys('Bangalore')

In [171]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [172]:
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [173]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

In [174]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)

In [175]:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

In [176]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")

In [177]:
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":full_job_description[0:10]})

In [178]:
df

,job_title,company_name,job_location,job_description
0,Senior Data Scientist,RedBus,Bangalore/Bengaluru,---
1,Immediate job opening - Senior Data Scientist,(85 Reviews),Bangalore/Bengaluru,---
2,Senior Data Scientist,RedBus,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Serve as primary technical lead on all phases ...
3,Senior/ Lead Data Scientist,(85 Reviews),Bangalore/Bengaluru,Responsibilities\nProvide advanced analytical ...
4,Lead Data Scientist,Fractal Analytics,Bangalore/Bengaluru,Job Summary\nThe candidate should be a Cyberse...
5,Lead Data Scientist,(95 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Position Description:\nThe Artificial Intellig...
6,Data Scientist - IBM Garage,Superior Group,Bengaluru/Bangalore,---
7,Deputy Manager - Datalabs (Data Scientist),(14 Reviews),Bangalore/Bengaluru,Roles & Responsibilities\nDevelop end to end s...
8,Data Scientist,FICO,"Davangere, Bangalore/Bengaluru",Job Role: Data Scientist\nExperience Education...
9,Senior Data Scientist,(59 Reviews),Bangalore/Bengaluru,Senior Data Scientist\nBangalore\nDescription\...

# 3. naukri.com

In [126]:
driver = webdriver.Chrome('chromedriver.exe')

In [127]:
url='https://www.naukri.com/'
driver.get(url)

In [128]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [129]:
search_job.send_keys('Data scientist')

In [130]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc

In [131]:
search_loc.send_keys('Delhi/NCR')

In [132]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [133]:
sal_filter=driver.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']")
sal_filter.click()

In [138]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="b4054e7b-6bf5-460a-baa3-52592bdcae1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="7f6a3a1a-b83a-4798-a127-d396aecd39ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="448d49ee-de19-4a3b-b86b-f1a4f3677ed4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="82f99cfb-045e-4c8a-9edd-49c906afc890")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="951f8383-0b08-4464-8237-3cb7aa8fd4ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6b33a62e-8c01-4802-bbeb-4cbe4fc26d6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="cd132b26-fbe5-491b-8bd8-a9892ade30aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="4e4c8307-7805-4f2f-a408-00810182d0e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="34006e2b-d065-4937-b20e-01c9d8abb07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="14ea92ba-ed6c-46e5-ba4d-89681d42f742")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6ef3b222-fcf1-4b2b-b2d1-d7e1885ddd19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="e30958c8-6a43-4a77-8a49-755399e98749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="094677cf-21cc-4c3f-b8b3-62fb90dd2463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="fadc161f-6fe3-4f1b-ac14-3dd788e7e66a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="13d9be2b-3357-4078-97b7-fee3bbf925b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="a874311e-1e1d-4f1f-9764-30c5589c4489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="c40464e7-884e-4602-8b63-00e581613907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="31486907-c387-4eb2-9955-4677ee47bad4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="1953ff63-f1ab-461f-8501-db124598099b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="143f4b2f-e063-4bd1-8743-461dd33afea7")>]

In [139]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'Data Scientist - Python/ SQL',
 'Data Scientist']

In [165]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6f3eb93c-c2d5-48b7-9519-99a2419fbfb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="a690c2ac-f4e6-4cc1-93e0-0e0c18633172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="220ffb7b-260f-4c08-86a7-a373ced69fa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="91595df8-b4a4-47e0-aacf-4b4c318476b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="7279d4fe-b6f2-49eb-b90a-5a0fd0a10f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="126fa876-6d31-4b47-87dd-b6e88ff9c4bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="de891839-a2f6-4569-8bff-f4f34d80b0c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="35918d23-aa9a-4d8a-a2e5-a6fdc77a4cc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="c2b314bf-3e4d-4278-9e4c-0de224626134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="947d0901-1255-4c3a-974e-aa182c389279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="f5e09f2e-1017-4e05-8282-abb350ebcf2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="262700fe-c284-45f8-a986-23413d73d3d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="ee98d299-9c50-49f8-9d6c-3e8ff0338440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="68f110f7-62d9-4850-8d62-0203ee11cbbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="5d8e18cc-08c8-4552-b918-36aa57031940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="7fa1c133-5179-4345-bf16-a33688850238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="17402a76-f021-433f-b255-addc90bc8426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="b0698b66-6d8b-47d7-99ef-781e86317295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="9ed04b67-b803-490b-a6ec-750984639523")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="362b303f-40ae-4886-a5c5-5d5b3607734c")>]

In [166]:
loc_titles=[]
for i in loc_tags:
    loc_titles.append(i.text)
loc_titles

['Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram',
 'Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'New Delhi',
 'Delhi',
 'Noida',
 'New Delhi',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon']

In [167]:
name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="07a465d9-0c1f-4da7-b039-d1b2edf129ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="3ca1de7b-035e-4727-a12c-2a0786191b61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="1d0529ca-079a-4bea-ba57-b2058c850351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="62d9e374-e2d5-4738-a7cb-e0930e221524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6cfa7c21-eebb-4928-9f1c-6d6467a89257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="54ce9e4f-5b00-485f-bc33-2032037828b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="65b53472-4b04-4e64-92e6-9885bdfcb5f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="4881b43d-3b4a-4b1f-87d5-e92c13b192d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="87aa63cb-b69a-40f5-a9e6-35da60b6da76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6aca4d22-fa8e-42d8-bb85-696467c2470d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="7e482ffc-f80a-4115-b83c-4465a7d4d775")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="1422e555-9d3f-4cd5-a2e4-c170469ab8d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="91075183-9860-493b-8a26-038e328343c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="05b465de-b8d7-4692-a6ba-aad80ebc811f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="97dec7d2-53f7-44be-84be-34c4a2736005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="9ebce963-0362-4d61-9212-4f913297e720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="d8c33a51-d7a1-43d8-a13f-84b54bd73432")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="56a3a962-c60a-4664-96dd-5de2fee73bc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="c80f5203-b2a0-46ca-8e88-ee79a4144026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="2e17d182-e509-4cb7-bc46-ba9a4eee5720")>]

In [168]:
com_titles=[]
for i in name_tags:
    com_titles.append(i.text)
com_titles

['TalkValley LLC',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Inflexion Analytix Private Limited',
 'Milliman India Pvt Ltd',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Wipro',
 'iNICU',
 'Evalueserve.com Pvt. Ltd',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'Schlesinger Group',
 'itForte Staffing Services Private Ltd.']

In [169]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="1d1d7e60-955d-406a-a227-215a06fff52d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6c54dd31-4d3f-4f88-90d5-f9ad8d1ae294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="1090dca3-3d16-4fc0-b0a2-6c18e8f4f9bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="4c7e2f9b-ea71-43e1-aa9c-78e83fbba8c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="41ce6847-d7b1-44ff-9d36-b1bd394e0233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="6f687687-6ff3-40e3-8332-7db5d557d5df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="0664c989-63ac-401b-8076-fdd6310b5f8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="76f569a7-36bd-477f-ae2b-99e34987392a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="7755405e-bd38-45f9-b1c0-1f204fa5c5ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="a9381515-fd48-41f8-a865-19058303e8c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="b1917868-5557-4c59-8eba-b69a90440b35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="63d95a8d-b704-4047-a179-6703a69ccfcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="91591880-6693-4ec7-8f50-787440853bd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="61fb0fb1-39e6-4a5d-80c1-b0949ace3a5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="97600a2b-6f17-4e90-9dce-fef7e7d3b1a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="4d31ed8b-5e8f-4070-a92a-0663bd9458c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="47a91456-dfa4-426a-ae68-997ee33675d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="e286fb40-753e-4262-a798-8dee71fa7faf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="2015eeb4-ed11-4fe9-9725-9428b949c4a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="587f75480298e34230feab8c186a55a3", element="f853fc2b-125e-4866-8d6b-6284a7d0db55")>]

In [170]:
exp_titles=[]
for i in exp_tags:
    exp_titles.append(i.text)
exp_titles

['0-5 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '4-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [171]:
print(len(job_titles),len(df),len(com_titles),len(exp_titles))

20 20 20 20

In [174]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=loc_titles
jobs['company']=com_titles
jobs['experience']=exp_titles

In [175]:
jobs

,title,location,company,experience
0,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
1,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
3,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
4,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
5,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
10,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
11,Data Scientist,Gurgaon/Gurugram,Evalueserve.com Pvt. Ltd,4-7 Yrs
12,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",BlackBuck,3-7 Yrs
13,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
14,Data Scientist,New Delhi,Mahajan Imaging,2-6 Yrs
15,Data Scientist,Delhi,Mahajan Imaging,2-6 Yrs
16,Associate Data Scientist,Noida,Right Step Consulting,3-6 Yrs
17,Associate Data Scientist,New Delhi,Blow Trumpet Solutions,1-5 Yrs
18,Data Scientist - Python/ SQL,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,3-6 Yrs
19,Data Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-8 Yrs

# 4    https://www.glassdoor.co.in/index.htm

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

# 5  https://www.glassdoor.co.in/Salaries/index.htm

In [36]:
driver = webdriver.Chrome('chromedriver.exe')

In [37]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [38]:
search_job = driver.find_element_by_id("KeywordSearch")
search_job

In [39]:
search_job.send_keys('Data scientist')

In [40]:
search_loc = driver.find_element_by_id('LocationSearch')
search_loc

In [41]:
search_loc.send_keys('Noida(India)')

In [42]:
search_btn = driver.find_element_by_id('HeroSearchButton')
search_btn.click()

# 6. 100 sunglasses listings on flipkart.com

In [24]:
driver = webdriver.Chrome('chromedriver.exe')

In [25]:
url='https://www.flipkart.com/'
driver.get(url)

In [26]:
search_prod = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_prod

In [27]:
search_prod.send_keys('sunglasses')

In [29]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [30]:
brand=[]
description=[]
price=[]
discount=[]

In [31]:
time.sleep(3)
start=0
end=4
for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)

In [45]:
print(len(brand))

160

In [33]:
desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in desc:
        description.append(i.text)

In [42]:
print(len(description))

40

In [34]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in prices:
        price.append(i.text)

In [43]:
print(len(prices))

40

In [35]:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
for i in disc:
        discount.append(i.text)

In [44]:
print(len(discount))

40

In [39]:
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
try:
        driver.get(nxt_button[1].get_attribute('href'))
except:  
        driver.get(nxt_button[0].get_attribute('href'))

In [154]:
time.sleep(3)        
a=({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

In [155]:
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

In [156]:
df

,Brand,Description,Price,Discount
0,Chevit,White Sneakers Sneakers For Men (White),"53,990",76% off
1,ADIDAS,Sneakers For Men (White),"74,990",52% off
2,CALCADOS,Men's Combo Pack of 02 Shoes for Men Casual Sn...,"25,990",62% off
3,Alfiya,"Combo Pack Of 3 Sneakers For Men (Black, Yellow)","27,904",62% off
4,India hub,"Sneakers For Men (White, Black)","3,231",87% off
...,...,...,...,...
95,Numenzo,Perfect & Affordable Combo Pack of 02 Pairs Sn...,None,None
96,Stefano Rads,1002 Sneakers For Men (White),None,None
97,Kraasa,Sneakers For Men (White),None,None
98,SCATCHITE,Premium quality Sneakers For Men (Blue),None,None
99,Absolute comfort,Casual Sneakers Black Shoes For Men Sneakers F...,None,None

# 7. 100 reviews data from flipkart.com for iphone11 phone

In [61]:
driver = webdriver.Chrome('chromedriver.exe')

In [62]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [63]:
urls=[]
short_review=[]
complete_review=[]
stars=[]

In [66]:
time.sleep(4)
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)

In [67]:
for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)

In [68]:
for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)

In [69]:
 for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [70]:
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})

In [71]:
df

,Number of Stars,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,4,Good choice,So far it’s been an AMAZING experience coming ...
6,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
7,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
8,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

# 8.100 sneakers from flipkart.com

In [72]:
driver = webdriver.Chrome('chromedriver.exe')

In [73]:
url='https://www.flipkart.com/'
driver.get(url)

In [74]:
search_prod = driver.find_element_by_xpath("//input[@type='text']")
search_prod

In [75]:
search_prod.send_keys('sneakers')

In [76]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [77]:
brand=[]
description=[]
price=[]
discount=[]

In [78]:
time.sleep(3)
start=0
end=4
for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)

In [79]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in prices:
        price.append(i.text)

In [80]:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
for i in disc:
        discount.append(i.text)

In [82]:
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
try:
        driver.get(nxt_button[1].get_attribute('href'))
except:
        driver.get(nxt_button[0].get_attribute('href'))

In [83]:
time.sleep(2)        
urls = []

In [84]:
for page in range(0,4):
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))

In [85]:
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
try:
        driver.get(nxt_button[1].get_attribute('href'))
except:
        driver.get(nxt_button[0].get_attribute('href'))

In [86]:
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')
    for i in desc:
        description.append(i.text)

In [151]:
time.sleep(2)        
time.sleep(3)        

a=({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

In [152]:
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

In [153]:
df

,Brand,Description,Price,Discount
0,Chevit,White Sneakers Sneakers For Men (White),"53,990",76% off
1,ADIDAS,Sneakers For Men (White),"74,990",52% off
2,CALCADOS,Men's Combo Pack of 02 Shoes for Men Casual Sn...,"25,990",62% off
3,Alfiya,"Combo Pack Of 3 Sneakers For Men (Black, Yellow)","27,904",62% off
4,India hub,"Sneakers For Men (White, Black)","3,231",87% off
...,...,...,...,...
95,Numenzo,Perfect & Affordable Combo Pack of 02 Pairs Sn...,None,None
96,Stefano Rads,1002 Sneakers For Men (White),None,None
97,Kraasa,Sneakers For Men (White),None,None
98,SCATCHITE,Premium quality Sneakers For Men (Blue),None,None
99,Absolute comfort,Casual Sneakers Black Shoes For Men Sneakers F...,None,None

# 9. 100 shoes data from myntra

In [90]:
driver = webdriver.Chrome('chromedriver.exe')

In [91]:
url="https://www.myntra.com/shoes%22"
driver.get(url)

In [92]:
time.sleep(2)
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

In [93]:
black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()

In [94]:
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

In [95]:
time.sleep(4)
nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))

In [97]:
for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  
    for i in Names:
        shoe_names.append(i.text)

In [98]:
desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") 
for i in desc:
        s_desc.append(i.text)
for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])

In [100]:
rs=driver.find_elements_by_xpath("//div[@class='product-price']") 
for i in rs:
        price.append(i.text)

In [157]:
a=({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})

In [158]:
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

In [159]:
df

                   Brand               Short-description   Price
0           UNDER ARMOUR   HOVR Infinite 2 Running Shoes  53,990
1                Bugatti  Unisex KING Pro Football Shoes  74,990
2           Hush Puppies   Women HOVR Infinite 2 Running  25,990
3   Heel & Buckle London              Men Leather Derbys  27,904
4                   ALDO       Women Leather Block Heels   3,231
..                   ...                             ...     ...
95                  ALDO                            None    None
96               Bugatti                            None    None
97                  Puma                            None    None
98               Saint G                            None    None
99                  Puma                            None    None

[100 rows x 3 columns]

# 10.10 laptops data from amazonn

In [122]:
driver = webdriver.Chrome('chromedriver.exe')

In [123]:
url='https://www.amazon.in/'
driver.get(url)

In [124]:
search_prod = driver.find_element_by_id('twotabsearchtextbox')
search_prod

In [125]:
search_prod.send_keys('Laptop')

In [126]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [129]:
Title=[]
Ratings=[]
price=[]

In [130]:
time.sleep(2)
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [131]:
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [132]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [136]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))

In [150]:
for url in UR:
    driver.get(url)

In [140]:
rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
Ratings.append(rating.text)

In [148]:
print(len(Title),(len(price),len(Ratings)))

10 (10, 1)

In [160]:
a=({'Title':Title,'Price':price,'Ratings':Ratings})

In [161]:
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

In [162]:
df

                                               Title   Price       Ratings
0  Lenovo ThinkPad E14 (2021) AMD Ryzen 5 4650U P...  53,990  3.3 out of 5
1  Lenovo Legion 5 10th Gen Intel Core i5 15.6 in...  74,990          None
2  HP 15 Entry Level 15.6-inch (39.62 cms) HD Lap...  25,990          None
3  HP 15 Intel Pentium Gold 6405U Processor Entry...  27,904          None
4  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...   3,231          None
5  Hammonds Flycatcher Genuine Leather Black 15.6...  26,562          None
6  Lenovo V15 AMD 15.6-inch FHD Thin and Light La...  19,990          None
7  (Renewed) Fujitsu Intel Core i5 3340M 15.6-Inc...  27,490          None
8  Lenovo Ideapad Slim 3 Intel Celeron N4020 15.6...  30,890          None
9  Lenovo Ideapad S145 AMD Ryzen 3 3200U 15.6 inc...  25,950          None